.button-small {
  height: 41px;
  border-radius: 3px;
  box-shadow: 0.5px 0.866px 0px #ffffff;
  background-color: #93cf2b;
  border: 1px solid #3a9a00;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-family: "Regular";
  text-shadow: 0.559px 0.829px 0px #51850e;
  width: 47%;

  @media only screen and (min-width: 921px) {
    // width: 148px;
  }

  &:hover {
    cursor: pointer;
  }
}

.grayed-out {
  background-color: #bbdb97;
  border: 1px solid #90ca6c;
}

.red {
  background-color: #f3495b;
  border: 1px solid #a21f2a;
}
