@import "./fonts";

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form__title {
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-family: "Regular";
  text-shadow: 1px 1.732px 2px rgba(43, 1, 0, 0.75);
}

.form__background {
  margin-top: 17px;
  padding: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //   height: 460px;
  border-radius: 5px;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.form__container {
  width: 100%;
  padding: 23px;
  //   height: 420px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
